<h1>iTunes Search</h1>
<div class="row g-2 align-items-center">
  <div class="col-auto">
    <input type="text" id="search_term" class="form-control">
  </div>
  <div class="col-auto">
    <button id="btn_search" class="btn btn-primary">Search</button>
    <button id="btn_loading" class="btn btn-primary" type="button" disabled>
      <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
      <span role="status">Loading...</span>
    </button>
  </div>
</div>
<hr/>
<div id="results">
</div>
